.single-post-project-intro {
    height: 577px;
    position: relative;
    transition: all 100ms ease-out;
    @include tablet-portrait {
        height: 400px;
    }

    .caption-container {
        width: auto;
        position: relative;
        top: 20%;
        padding: 96px;
        color: $light;
        text-align: center;
        @include tablet-portrait {
            padding: 48px;
        }
        @include mobile {
            top: 15%;
            padding: 36px;
        }

        h1.caption-main {
            font-family: $robotoBold;
            @include tablet-portrait {
                font-size: 36px;
            }
            @include mobile {
                font-size: 30px;
            }
        }
    
        p.caption-sub {
            margin: 0 auto;
            color: $light;
            font-family: $robotoMedium;
            line-height: 1.5;

            &:before {
                content: "__";
            }
        }
    }

    .hero-background-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        overflow: hidden;
        z-index: -1;

        &__mask {
            width: auto;
            height: 100%;
            mask: url("media/shapes/other-pages-intro-mask.svg");
            -webkit-mask: url("media/shapes/other-pages-intro-mask.svg");
            mask-size: cover;
            -webkit-mask-size: cover;
            mask-position: bottom center;
            -webkit-mask-position: bottom center;

            img {
                z-index: -2;
                width: 100%;
                height: 100%;
                background-color: $tertiary;
                object-fit: cover;
                object-position: 50% 50%;
                filter: brightness(50%);
            }
        }
    }
}
