.contact-content {

    .block-container {
    // styling must be done on general.scss
    // unless purpose is to specifically override (not recommended)
    // add another class on block-container level if needed to override
    padding-top: 0;
    max-width: 900px;
    margin: 0 auto;
    position: relative;

        .block-content {
            padding: 96px 0;
            @include tablet-portrait {
                padding: 36px 0;
            }


            // still too specific for Contact page
            form.wpcf7-form {
                @include flexbox;
                @include flex-flow(row wrap);
                @include justify-content(space-between);

                p {
                    width: calc(50% - 24px);
                    max-width: none;
                    margin: 0 12px 36px;
                    @include tablet-portrait {
                        width: 100%;
                        margin: 0 auto 36px;
                    }

                    &:nth-of-type(5),
                    &:nth-of-type(6),
                    &:nth-of-type(7),
                    &:last-of-type {
                        width: 100%;
                    }
                    &:last-of-type {
                        position: relative;
                        text-align: center;
                    }

                    &:first-of-type,
                    &:nth-of-type(2),
                    &:nth-of-type(3),
                    &:nth-of-type(4),
                    &:nth-of-type(7) {
                        &:hover,
                        &:focus {
                            label,
                            input {
                                color: $primary;
                                border-color: $primary;
                            }
                        }
                    }

                    label {
                        font-size: 12px;

                        span {

                            input[type="text"],
                            input[type="email"],
                            input[type="tel"] {
                                width: 100%;
                                height: 24px;
                                margin-top: 4px;
                                padding: 3px 6px;
                                color: $tertiary;
                                border: 1px solid $quarternary;
                                border-radius: 4px;

                                &:focus {
                                    border: 1px solid $primary;
                                }
                            }

                            textarea {
                                resize: none;
                                width: 100%;
                                margin-top: 4px;
                                padding: 3px 6px;
                                color: $tertiary;
                                border: 1px solid $quarternary;
                                border-radius: 4px;
                                font-family: $robotoRegular;
                                font-size: 12px;

                                &:focus {
                                    border: 1px solid $primary;
                                }
                            }

                        }
                    }

                    // &:nth-of-type(5) {

                    //     span.wpcf7-form-control-wrap {
                    //         &:last-of-type {
                    //             .wpcf7-list-item {
                    //                 min-width: 20%;
                    //                 width: auto;
                    //             }
                    //         }
                    //     }
                    // }

                    span.wpcf7-form-control-wrap {

                        .wpcf7-checkbox {
                            @include flexbox;
                            @include flex-flow(row wrap);
                            @include justify-content(flex-start);

                            .wpcf7-list-item {
                                width: calc(33.33% - 12px);
                                margin-top: 12px;
                                margin-left: 0;
                                @include mobile {
                                    width: 100%;
                                }
                
                                label {
                                    cursor: pointer;
                                    @include flexbox;
                                    @include align-items(center);
                
                                    input[type="checkbox"] {
                                        -webkit-appearance: checkbox !important;
                                        width: 24px;
                                        min-width: 24px;
                                        height: 24px;
                                        margin-right: 8px;
                                        background-color: transparent;
                                        border: 1px solid $quarternary;
                                        border-radius: 4px;

                                        &:checked {
                                            color: $primary;
                                            border: 1px solid $primary;
                                        }
                                    }
                                    input[type="checkbox"]:checked + .wpcf7-list-item-label {
                                        color: $primary;
                                    }
                        
                                    .wpcf7-list-item-label {
                                        line-height: 15px;
                                    }
                                }
                            }
                        }
                    }

                    input[type="submit"] {
                        margin: 0 auto;
                        padding: 8px 70px;
                        color: $light;
                        background-color: $tertiary;
                        border: 2px solid $primary;
                        border-radius: 24px;
                        font-family: $robotoMedium;

                        &:hover {
                            cursor: pointer;
                            color: $light;
                            background-color: $primary;
                            border: 2px solid $quarternary;
                        }
                    }

                    span.ajax-loader {
                        position: absolute;
                        top: 8px;
                        left: calc(50% - 36px);
                    }
                }

                .wpcf7-response-output {
                    margin: 0 auto !important;
                    color: $quarternary;
                    border-top: none !important;
                    border-right: none !important;
                    border-left: none !important;
                    font-family: $robotoRegular;
                    font-size: 15px;
                }
            }
        }

    }
}