
$primary: #2F72B8;
$secondary: #55AC47;
$tertiary: #13334B;
$quarternary: #768991;
$background: #495965;

$disable: #dfdfdf;

$white: #ffffff; 
$light: #F9FCFA;
$dark: #2D322B;
$black: #000000;

$error: #dc3232;
$warning: #ffcc00;