* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // transtion set to all interferce with flickity's looping function (wrapAround)
    // transition: all 100ms ease-in-out;
}

html, body {
    overflow-x: hidden !important;
}

// .lock-scroll {
//     position: fixed !important;
// }

h1, h2 {
    font-family: $avenirBold;
    letter-spacing: 1px;
}
h3, h4  {
    font-family: $robotoBold;
    letter-spacing: 1px;
}
h5, h6 {
    font-family: $robotoMedium;
    letter-spacing: 1px;
}

h1 {
    font-size: 48px;

    @include tablet-portrait {
        // font-size: 36px !important;
    }

    @include mobile {
        // font-size: 24px !important;
        // text-align: center !important;
    }
}
h2 {
    font-size: 36px;

    @include tablet-portrait {
        // font-size: 24px !important;
    }
    @include mobile {
        // font-size: 20px !important;
    }
}
h3 {
    font-size: 24px;

    @include tablet-portrait {
        font-size: 18px;
        line-height: 1.2;
    }
}

p, a, span {
    color: $quarternary;
    font-family: $robotoRegular;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

p {
    max-width: 600px;
}

li {
    max-width: 600px;
    margin-bottom: 6px;
}

a,
input[type="submit"] {
    transition: all 100ms ease-in-out;
}

i.fa {
    font-size: 24px;

    @include mobile {
        // font-size: 16px;
    }
}