

@font-face {
    font-family: 'avenir-light';
    src: url('media/fonts/AvenirLTStd-Book.otf');
}
@font-face {
    font-family: 'avenir-medium';
    src: url('media/fonts/AvenirLTStd-Roman.otf');
}
@font-face {
    font-family: 'avenir-bold';
    src: url('media/fonts/AvenirLTStd-Black.otf');
}

@font-face {
    font-family: 'roboto-light';
    src: url('media/fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'roboto-regular';
    src: url('media/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto-medium';
    src: url('media/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'roboto-bold';
    src: url('media/fonts/Roboto-Bold.ttf');
}


$avenirLight: 'avenir-light';
$avenirMedium: 'avenir-medium';
$avenirBold: 'avenir-bold';

$robotoLight: 'roboto-light';
$robotoRegular: 'roboto-regular';
$robotoMedium: 'roboto-medium';
$robotoBold: 'roboto-bold';