.home-intro {
    height: 577px;
    position: relative;
    transition: all 100ms ease-out;
    @include tablet-portrait {
        height: 400px;
    }

    .caption-container {
        width: auto;
        position: relative;
        top: 30%;
        padding: 96px;
        color: $light;
        text-align: center;
        @include tablet-portrait {
            padding: 48px;
        }
        @include mobile {
            top: 24%;
            padding: 36px;
        }

        h1.caption-main {
            margin-bottom: 24px;
            font-family: $robotoBold;
            @include tablet-portrait {
                font-size: 36px;
            }
            @include mobile {
                font-size: 30px;
            }
        }
    
        p.caption-sub {
            margin: 0 auto;
            color: $light;
            font-family: $robotoMedium;
        }
    }

    .hero-button-container {
        width: 360px;
        height: 36px;
        position: absolute;
        bottom: 0; left: calc(50% - 180px);
        border: 2px solid $light;
        border-radius: 24px;
        overflow: hidden;
        @include flexbox;
        @include flex-flow(row nowrap);
        @include justify-content(center);
        @include mobile {
            height: 72px;
            width: 80%;
            bottom: -1.5em;
            left: 10%;
            border-radius: 48px;
            @include flex-flow(column);
        }

        a.hero-button-group {
            
            &--left {
                width: 100%;
                height: 100%;
                padding: 6px 0;
                color: $light;
                background-color: $primary;
                font-size: 12px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    color: $primary;
                    background-color: $light;
                }
            }

            &--right {
                @extend .hero-button-group--left;
                background-color: $secondary;

                &:hover {
                    color: $secondary;
                }
            }
        }
    }

    .hero-background-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        overflow: hidden;
        z-index: -1;

        &__mask {
            width: auto;
            height: 100%;
            mask: url("media/shapes/home-intro-mask.svg");
            -webkit-mask: url("media/shapes/home-intro-mask.svg");
            mask-size: cover;
            -webkit-mask-size: cover;
            mask-position: bottom center;
            -webkit-mask-position: bottom center;

            img {
                z-index: -2;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                filter: brightness(50%);
            }
        }
    }
}

