.preview-services {
    background-color: $light;

    .block-container {
    // styling must be done on general.scss
    // unless purpose is to specifically override (not recommended)
    // add another class on block-container level if needed to override
    max-width: 972px;
    margin: 0 auto;

        .preview-gallery-container {
            height: auto;
            margin: 0 auto 24px;
            @include flexbox;
            @include flex-flow(row wrap);
            @include justify-content(center);
            @include tablet-portrait {
                @include flex-flow(column);
            }

            .gallery-item {
                width: calc(33.33% - 36px);
                margin: 0 18px 24px;
                @include tablet-landscape {
                    width: calc(50% - 36px);
                    margin: 0 auto 24px;
                }
                @include tablet-portrait {
                    width: 100%;
                    margin: 0 auto 24px;
                }

                &__title {
                    margin-bottom: 24px;
                    color: $secondary;
                    font-family: $robotoMedium;
                    font-size: 16px;
                    text-align: center;
                    display: block;
                    @include tablet-portrait {
                        text-align: center;
                    }

                    &:hover {
                        color: $tertiary;
                    }
                }

                &__image-container {
                    width: 150px;
                    height: 150px;
                    margin: 0 auto 24px;
                    color: $secondary;
                    font-family: $robotoBold;
                    font-size: 12px;
                    text-align: center;
                    overflow: hidden;
                    transition: all 300ms ease-out;
                    @include flexbox;
                    @include align-items(center);
                    // @include tablet-portrait {
                    //     height: auto;
                    // }

                    img {
                        max-width: 100%;
                        height: auto;
                        max-height: 100%;
                    }
                }

                &__excerpt {
                    margin-bottom: 24px;
                    @include tablet-portrait {
                        max-width: 360px;
                        margin: 0 auto 24px;
                    }
                
                    p {
                        // max-height: 5ch;
                        color: $quarternary;
                        // white-space: break-spaces;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                    }
                    a {
                        color: $quarternary;
                        text-decoration: underline; 
    
                        &:hover {
                            color: $secondary;
                        }
                        &:hover svg {
                            fill: $secondary;
                        }
                
                        svg {
                            width: 9px;
                            height: auto;
                            margin-left: 6px;
                            fill: $quarternary;
                            vertical-align: middle;
                            transition: all 300ms ease-out;
                        }
                     
                    }
                }

                &__tags {
                    color: $secondary;
                    text-align: right;

                    a {
                        margin: 0 4px;
                        color: $secondary;
                        text-decoration: underline;
                    }
                }
            }

            p.no-posts-available {
                color: $secondary;
                text-align: center;
            }
        }


        .block-button {
            width: 100%;
            height: 36px;
            position: relative;
            text-align: center;
            @include flexbox;
            @include flex-flow(column);
            @include justify-content(center);
            @include align-items(center);

            &__button-group {
                height: 100%;
                padding: 6px 90px;
                color: $secondary;
                background-color: $light;
                border: 2px solid $secondary;
                border-radius: 18px;
                z-index: 2;
                @include mobile {
                    padding: 6px 48px;
                }

                &:hover {
                    color: $light;
                    background-color: $secondary;
                    border: 2px solid $light;
                }
                &:hover ~ .block-button__line {
                    background-color: $secondary;
                }
            }

            &__line {
                width: 100%;
                height: 6px;
                position: absolute;
                top: 15px; left: 0;
                background-color: $quarternary;
                border-radius: 6px;
            }
        }
    }

}