.summary {
    padding: 90px 0;

    .block-container {
    // styling must be done on general.scss
    // unless purpose is to specifically override (not recommended)
    // add another class on block-container level if needed to override
    padding: 0;

    }
}

.summary-gallery {
    height: 600px;
    @include tablet-portrait {
        height: 500px;
    }

    // Flickity Cell Control
    .summary-cell {
        width: 50%;
        height: 100%;
        margin: 0 24px;
        counter-increment: summary-cell;
        @include tablet-landscape {
            width: 66.66%;
        }
        @include tablet-portrait {
            width: 100%;
            padding: 0 24px;
        }

        &__image-container {
            width: 100%;
            max-width: 420px;
            height: 100%;
            max-height: 240px;
            margin: 0 auto;
            position: relative;
            top: 12%;
            border-radius: 4px;
            overflow: hidden;
            // transform: scale(1.5) translate(-50%, -25%);
            transition: all 300ms ease-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }

        &__caption-group {
            position: relative;
            top: 4.5em;
            opacity: 0;
            transition: all 300ms ease-in-out;
        }

        &__caption-main {
            margin-bottom: 24px;
            color: $secondary;
            font-family: $robotoBold;
            font-size: 16px;
            text-align: center;
        }

        &__caption-paragraph {
            margin: 0 auto;
            color: $quarternary;
        }
    }

    .is-selected > .summary-cell__image-container {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 420px;
        margin: 0 auto;
        position: relative;
        top: auto;
        overflow: hidden;
        @include tablet-portrait {
            max-height: 300px;
        }
    }
    .is-selected > .summary-cell__caption-group{
        opacity: 1;
    }

    // custom page-dots styling
    // or else, see functional-components.scss
    ol.flickity-page-dots {
        position: absolute;
        text-align: center;
        bottom: 7.25em;
        @include desktop {
            bottom: 8.5em;
        }
        @include tablet-portrait {
            bottom: 10em;
        }

        .dot {
            width: 36px;
            height: 4px;
            margin: 0 2px;
            background-color: rgba($quarternary, 0.5);
            border-radius: 2px;

            &:hover {
                background-color: rgba($quarternary, 0.8);
            }
        }
        .dot.is-selected {
            background-color: rgba($quarternary, 1);
        }
    }
}