.careers-content {
    background-color: $light;

    .block-container {
    // styling must be done on general.scss
    // unless purpose is to specifically override (not recommended)
    // add another class on block-container level if needed to override
    padding-top: 0;
    max-width: 900px;
    margin: 0 auto;
    position: relative;

        .block-content {
            padding: 96px 0;

            details {
                margin-bottom: 12px;
                border-bottom: 2px solid $quarternary;
                transition: all 300ms ease-in-out;

                &:hover {
                    border-bottom: 2px solid $secondary;

                    summary {
                        color: $secondary;

                        svg {
                            fill: $secondary;
                        }
                    }
                }

                summary::-webkit-details-marker {
                    display: none; 
                }
                summary {
                    cursor: pointer;
                    list-style-type: none;
                    margin-bottom: 6px;
                    position: relative;
                    color: $quarternary;
                    font-family: $robotoBold;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 24px;
                    transition: all 300ms ease-out;
                    @include tablet-portrait {
                        font-size: 12px;
                    }

                    &:marker {
                        display: none;
                    }

                    svg {
                        width: 8px;
                        height: auto;
                        margin-right: 4px;
                        fill: $quarternary;
                        transition: all 300ms ease-out;
                        @include tablet-portrait {
                            vertical-align: -2px;
                        }
                    }
                }

                h3 {
                    margin-bottom: 6px;
                    color: $quarternary;
                    font-family: $robotoBold;
                    font-size: 12px;
                    letter-spacing: 0;
                    line-height: 20px;
                }
                p, li {
                    color: $quarternary;
                    font-family: $robotoRegular;
                    font-size: 12px;
                    line-height: 20px;
                }
                p {
                    margin-bottom: 16px;
                }
                li {
                    list-style-type: disc;
                    margin-left: 14px;
                }
                li:last-of-type {
                    margin-bottom: 24px;
                }
    
                figure.wp-block-image {
                    width: 100%;
                    height: auto;
                    margin-bottom: 36px;
                    overflow: hidden;
    
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
    
                .wp-block-columns {
                    margin: 0;
                }

                .button-group {
                    margin: 24px auto;
                }
            }

            details[open] {
                border-bottom: 2px solid $secondary;

                summary {
                    color: $secondary;

                    svg {
                        fill: $secondary;
                        transform: rotate(90deg);
                    }
                }
            }

            
        }

    }
}