.call-to-action {
    height: auto;
    background-color: $quarternary;

    .block-container {
    // styling must be done on general.scss
    // unless purpose is to specifically override (not recommended)
    // add another class on block-container level if needed to override
        @include flexbox;
        @include flex-flow(column);
        @include justify-content(center);
        @include tablet-portrait {
            padding: 36px 36px 72px;
        }

        .cta-caption {

        }

        .cta-button {

        }
    }
}