footer {
    width: 100%;
    height: auto;
    padding: 96px 0;
    position: relative;
    background-color: $background;
    @include tablet-portrait {
        padding: 72px 20px;
        text-align: center;
    }

    .footer-container {
        width: inherit;
        max-width: 900px;
        height: inherit;
        margin: 0 auto;
        @include flexbox;
        @include flex-flow(row);
        @include tablet-landscape {
            @include flex-flow(row wrap);
            @include justify-content(center);
        }
        @include tablet-portrait {
            @include flex-flow(column);
        }

        .footer-widget {
            margin-right: 60px;
            @include tablet-portrait {
                width: 100%;
                margin-right: auto;
            }

            &:last-of-type {
                margin-right: 0;
            }

            aside {

                p {
                    color: $light;
                    @include tablet-portrait {
                        max-width: none;
                    }
                }
            }

            aside.widget_text {
                margin-bottom: 12px;
            }
        }
    }
}

// Logo Container
#logo-container {
    width: 72px;
    height: auto;
    @include tablet-portrait {
        margin: 0 auto;
    }
    
    figure.wp-block-image {

        img {
            height: auto;
        }
    }
}

// Site Map
ul#menu-site-map {
    @include tablet-portrait {
        @include flexbox;
        @include flex-flow(row wrap);
        @include justify-content(space-around);
    }

    li.menu-item {
        margin-bottom: 9px;
        @include tablet-portrait {
            margin-right: 12px;
        }

        a {
            color: $light;
        }
    }
}

// Links & Contacts
#links-and-contacts {
    @include tablet-portrait {
        margin-top: 24px;
        @include flexbox;
        @include flex-flow(row wrap);
        @include justify-content(center);
    }
    @include mobile {
        text-align: center;
        @include flex-flow(column);
    }

    #social-media {
        margin-bottom: 24px;

        .widget_media_image {
            display: inline-block;
            margin-right: 12px;
        }
    }

    #address {
        margin-bottom: 24px;
        @include flexbox;
        @include flex-flow(row nowrap);
        @include align-items(flex-start);
        @include tablet-portrait {
            width: calc(50% - 24px);
            margin-right: 12px;
            @include flex-flow(column);
            @include align-items(flex-end);
        }
        @include mobile {
            width: 100%;
            margin-right: auto;
            @include align-items(center);
        }

        img {
            margin-right: 12px;
            @include tablet-portrait {
                margin-bottom: 12px;
            }
        }

        .widget_text {
            @include tablet-portrait {
                text-align: right;
            }
            @include mobile {
                text-align: center;
            }
        }
    }

    #phone {
        margin-bottom: 24px;
        @extend #address;
        @include tablet-portrait {
            margin-left: 12px;
            @include align-items(flex-start);
        }
        @include mobile {
            margin-left: auto;
            @include align-items(center);
        }
    }
}

// Google Map
#google-map {
    @include tablet-portrait {
        width: 100%;
    }

    aside {
        
        iframe {
            width: 100%;
            min-width: 420px;
            border-radius: 4px;
            @include tablet-portrait {
                min-width: auto;
            }
        }
    }
}

// Copyright
#copyright {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 80px);
    text-align: center;

    p {
        color: $light;
    }
}