.gallery {
    // set explicitly for summary.scss

    .carousel { width: 50%; }
    .carousel.is-expanded { width: 100%; }

    .carousel.is-expanded .carousel-cell {
    height: auto;
    }

    // Flickity Cell Control
    .gallery-cell {
        width: 100%;
        height: 100%;
        counter-increment: summary-cell;
    }

    // Flickity Indicators Control
    .flickity-page-dots {
        position: relative;
        text-align: center;
        bottom: 3.5rem;

        .dot {
            width: 16px;
            height: 16px;
            opacity: 1;
            background: $white;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid $primary;
            }
        }
        .dot.is-selected {
            background-color: $primary;;
        }
    }
    // hides the flickity page dots if there's only one slide
    .flickity-page-dots {
        .dot:first-child:nth-last-child(1) {
            opacity: 0;
        }
    }
}

// .breadcrumb {
//     max-width: 900px;
//     margin: 0 auto;
//     position: relative;
//     top: 96px;
//     color: $light;
//     font-family: $robotoMedium;
//     font-size: 12px;

//     a {
//         color: $light;
//         font-family: $robotoMedium;
//         font-size: 12px;

//         &:hover {
//             text-decoration: underline;
//         }
//     }
// }


.nav-post {
    margin: 72px auto 36px;
    @include flexbox;
    @include flex-flow(row nowrap);
    @include justify-content(space-between);

    &__previous {

        &:hover a {
            color: $primary;
        }
        &:hover svg {
            fill: $primary;
        }

        svg {
            width: 16px;
            height: auto;
            margin-right: 6px;
            fill: $quarternary;
            vertical-align: middle;
            transform: rotate(180deg);
        }

        a {
            width: 200px;
            height: 100%;
        }
    }

    &__next {
        
        &:hover a {
            color: $primary;
        }
        &:hover svg {
            fill: $primary;
        }

        svg {
            width: 16px;
            height: auto;
            margin-left: 6px;
            fill: $quarternary;
            vertical-align: middle;
            transition: all 300ms ease-out;
        }

        a {
            width: 200px;
            height: 100%;
        }
    }
}


// SEARCH and FILTER Plug-in
.searchandfilter {
    margin: 24px auto;

    ul {
        width: 100%;

        li {
            width: 100%;

            h4 {
                color: $secondary;
                font-family: $robotoRegular;
                font-size: 12px;
                letter-spacing: 0;
            }

            // Checkboxes
            ul {
                width: 100%;
                @include flexbox;
                @include flex-flow(row nowrap);
                @include align-items(center);

                li {
                    width: auto;
                    max-width: 33.33%;

                    label {
                        color: $secondary;
                        font-family: $robotoMedium;
                        font-size: 12px;
                        @include flexbox;
                        @include flex-flow(row nowrap);
                        @include align-items(center);

                        input[type="checkbox"] {
                            -webkit-appearance: checkbox !important;
                            width: 24px;
                            min-width: 24px;
                            height: 24px;
                            margin-right: 8px;
                            background-color: transparent;
                            border: 1px solid $quarternary;
                            border-radius: 4px;

                            &:checked {
                                color: $primary;
                                border: 1px solid $primary;
                            }
                        }
                    }
                }
            }

            // Select
            select {
                width: 240px;
                height: 24px;
                margin-top: 4px;
                padding: 2px 3px;
                color: $quarternary;
                border: 1px solid $quarternary;
                border-radius: 4px;
                font-family: $robotoRegular;
                font-size: 12px;

                &:hover {
                    cursor: pointer;
                    border: 1px solid $secondary;
                }

                option {

                }
            }

            &:last-of-type {
                width: 100%;
            }

            input[type="submit"] {
                margin: 0 auto;
                padding: 6px 36px;
                color: $secondary;
                background-color: transparent;
                border: 1px solid $quarternary;
                border-radius: 24px;
                font-family: $robotoMedium;

                &:hover {
                    cursor: pointer;
                    color: $light;
                    background-color: $secondary;
                    border: 1px solid $secondary;
                }
            }
        }
    }
}

// CUSTOM FILTER
// ON USE!!!
form.filter-posts {
    margin-top: 24px;

    p.form-block {
        @include mobile {
            text-align: center;
        }

        label {

            span.help-subject {

                select.filter-tag {
                    width: 240px;
                    height: 24px;
                    margin-top: 4px;
                    padding: 2px 3px;
                    color: $quarternary;
                    border: 1px solid $quarternary;
                    border-radius: 4px;
                    font-family: $robotoRegular;
                    font-size: 12px;

                    &:hover {
                        cursor: pointer;
                        border: 1px solid $secondary;
                    }
                }
            }
        }

    }
}