.block {

    &--wfull {
        width: 100%;
        margin: 0 auto;

        .block-container {
            // .block--full and .block--w1200 have different padding
            height: 100%;
            padding: 64px 64px 90px;
            @include tablet-portrait {
                padding: 32px 32px 72px;
            }
            @include mobile {
                padding: 32px 24px 60px;
            }

            .block-content {
                max-width: 600px;
                margin: 0 auto;
    
                h1, h2 {
                    margin-bottom: 24px;
                    color: $secondary;
                    font-family: $robotoBold;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 24px;
                    @include mobile {
                        text-align: center;
                    }
                }
                p, li {
                    color: $quarternary;
                    font-family: $robotoRegular;
                    font-size: 12px;
                    line-height: 20px;
                }
                p {
                    margin-bottom: 16px;
                }
                li {
                    list-style-type: disc;
                    margin-left: 14px;
                }
                li:last-of-type {
                    margin-bottom: 24px;
                }
    
                figure.wp-block-image {
                    width: 100%;
                    height: auto;
                    margin-bottom: 36px;
                    overflow: hidden;
    
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
    
                .wp-block-columns {
                    margin: 0;
                }
                
                p.tag-list {
                    margin: 72px 0 0;
                    text-align: right;

                    a {
                        margin: 0 4px;
                        color: $secondary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &--w1200 {
        @extend .block--wfull;
        max-width: 1100px;

        .block-container {
            // .block--full and .block--w1200 have different padding   
        }
    }
}

// BLOCK TITLE
.block-title {
    margin-bottom: 60px;
    text-align: center;

    &--left {
        text-align: left;
    }

    &__main {
        color: $primary;
        font-family: $robotoLight;
        font-size: 36px;
        @include tablet-portrait {
            font-size: 24px;
        }
        @include mobile {
            font-size: 20px;
        }
    }

    &__sub {
        max-width: none;
        margin-top: 6px;
        color: $secondary;
        font-family: $robotoMedium;
        font-size: 12px;

        &:before {
            content: "__";
        }
    }
}

// BUTTON SINGLE
.button-group {
    text-align: center;

    .button {
        padding: 9px 60px;
        border-radius: 24px;

        &--light {
            color: $light;
            border: 1px solid $light;

            &:hover {
                background-color: $primary;
            }
        }

        &--dark {
            color: $light;
            background-color: $quarternary;

            &:hover {
                background-color: $primary;
            }
        }
    }
    
}

// TEXT ALIGN & COLOR
.text {

    &--light {
        color: $light;
    }

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
        @include mobile {
            text-align: center;
        }
    }
}

// LIMIT OVERRIDES
.max-width-none {
    max-width: none !important;
}


// HIDE OVERRIDES
.hidden {
    display: none;
}


// SPACING OVERRIDES
.remove-padding {

    &--top {
        padding-top: 0 !important;
    }
    &--bottom {
        padding-bottom: 0 !important;
    }
}

.remove-margin {

    &--top {
        margin-top: 0 !important;
    }
    &--bottom {
        margin-bottom: 0 !important;
    }
}


// HIDE BASED ON SCREEN WIDTH
.hide-on-mobile {
    @include mobile {
        display: none;
    }
}