header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba($white, 0.8);
    backdrop-filter: blur(6px);
    z-index: 99; // TOP 1
    @include tablet-landscape {
        padding: 0 20px;
    }
    @include tablet-portrait {
        height: 48px;
        padding: 0;
        background-color: none;
        backdrop-filter: blur(0);
    }

    .header-container {
        width: 100%;
        max-width: 900px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        // border-bottom: 1px solid $primary;
        @include flexbox;
        @include flex-flow(row nowrap);
        @include justify-content(space-between);
        @include align-items(center);
        @include tablet-portrait {
            width: auto;
            max-width: none;
            // background-color: rgba($light, 0.6);
            // backdrop-filter: blur(3px);
            // border-bottom: none;
        }

        .logo-container {
            height: 100%;
            @include tablet-portrait {
                height: 100%;
                position: absolute;
                left: 0;
            }

            &__link {
                width: 100%;
                height: 100%;
                float: left;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }

        #main-navigation {
            z-index: 98; // TOP 2

            @include tablet-portrait {
                width: 50%;
            }
            @include mobile {
                width: 100%;
            }

            .custom-menu-class {
                height: 100%;

                ul.menu {
                    height: 100%;
                    @include flexbox;
                    @include flex-flow(row);
                    @include justify-content(space-between);
                    @include align-items(center);
                    @include tablet-portrait {
                        display: inline-block;                            
                    }


                    li.menu-item {
                        height: 100%;
                        margin: 0 12px;
                        padding: 0 12px;
                        position: relative;
                        @include flexbox;
                        @include align-items(center);
                        @include tablet-landscape {
                            margin: 0 auto;
                        }
                        @include tablet-portrait {
                            margin: 0 auto;
                            @include flex-flow(column);                        
                        }
                        
                        &:hover {
                            a:before {
                                background: $primary;
                            }
                        }

                        a {
                            margin-top: 4px;
                            position: relative;
                            color: $primary;
                            font-size: 12px;
                            text-transform: capitalize;

                            &:before {
                                content: "";
                                width: 10px;
                                height: 1px;
                                position: absolute;
                                bottom: 0;
                                background: transparent;
                            }
                        }

                    }

                    li.current_page_item,
                    li.current_page_parent,
                    li.current-menu-parent {

                        a {
                            &:before {
                                background: $primary;
                                @include tablet-portrait {
                                    background: $light;
                                }
                            }
                        }
                    }
                }
            }
        }

        // MOBILE NAV [START]
        .mobile-nav {
            width: 100%;
            height: calc(100vh - 72px);
            position: absolute;
            top: 48px;
            right: -100%;
            transition: all 100ms ease-in-out;
            @include tablet-portrait {
                background-color: rgba($tertiary, 0.9);
                // backdrop-filter: blur(3px);
            }
            @include mobile {
                height: calc(100vh - 48px);
                top: 48px;
                right: calc(-100% - 20px);
            }
        
            .custom-menu-class {
                width: 100%;
                @include flex-flow(column);
                @include align-items(center);
        
                ul.menu {
                    width: 100%;
                    height: auto !important;
                    margin: 20px auto;
                    @include flex-flow(column);
                    flex-flow: column !important;
    
                    @include tablet-portrait {
                        width: 100%;
                    }
            
                    li.menu-item {
                        @include tablet-portrait {
                            height: auto;
                            width: 100%;
                            padding: 12px 0 !important;
                            color: $white;
                        }
                        @include mobile {
                            padding: 12px 0 !important;
                        }

                        &:hover {
                            background-color: $white;

                            a {
                                color: $primary !important;
                            }
                        }
            
                        a {
                            margin: 0 auto;
                            color: $white !important;
                            border-bottom: none !important;
                        }

                    }

                }
            }
        }
    
        .mobile-nav-open {
            right: -20px;
            @include flexbox;
            display: flex !important;
            @include flex-flow(column);
            @include align-items(center);
            @include mobile {
                right: 0;
            }
        }
    
        .mobile-nav ~ a.mobile-icon img.icon-close-mobile-nav {
            display: none;
        }
        .mobile-nav-open ~ a.mobile-icon img.icon-open-mobile-nav {
            display: none;
        }
        .mobile-nav-open ~ a.mobile-icon img.icon-close-mobile-nav {
            display: inline-block;
        }
        .mobile-nav-open ~ .external-links {
            display: none;
        }
    
        a.mobile-icon {
            display: none;
            position: absolute;
            right: 20px;
            @include tablet-portrait {
                padding-right: 0;
                display: inline-block;
                // order: 3;
            }
    
            img.icon-close-mobile-nav {
                display: inline-block;
            }
        }
        // MOBILE NAV [END]
    }

    // .header--alter {
    //     border-bottom: 1px solid $primary;
    //     @include tablet-portrait {
    //         border-bottom: none;
    //     }

    //     .mobile-nav {
        
    //         .custom-menu-class {
        
    //             ul.menu {
            
    //                 li.menu-item {
    //                     @include tablet-portrait {
    //                         color: $primary;
    //                     }
    //                     @include mobile {
    //                         padding: 12px 0 !important;
    //                     }

    //                     &:hover {
    //                         background-color: $white;

    //                         a {
    //                             color: $primary !important;
    //                         }
    //                     }
            
    //                     a {
    //                         margin: 0 auto;
    //                         color: $primary !important;
    //                         border-bottom: none !important;
    //                     }

    //                 }

    //             }
    //         }
    //     }
    // }
    // .header--alter .menu-item a {
    //     color: $primary !important;
    //     @include tablet-portrait {
    //         color: $light !important;
    //     }

    //     &:hover {
    //         &:before {
    //             // content: "";
    //             // width: 10px;
    //             // height: 1px;
    //             // position: absolute;
    //             // bottom: 0;
    //             background-color: $primary !important;
    //         }
    //     }
    // }

    // .header--alter .current-menu-item a:before {
    //     background-color: $primary !important;
    // }
}

.header-spacer {
    @extend header;
    position: relative;
    z-index: 0;
}