.index-intro {
    background-color: $light;

    .block-container {
    // styling must be done on general.scss
    // unless purpose is to specifically override (not recommended)
    // add another class on block-container level if needed to override
    max-width: 900px;
    margin: 0 auto;
    padding: 64px 0;
    @include tablet-landscape {
        padding: 64px;
    }
    @include mobile {
        padding: 36px;
    }

    }
}