.tag-content {

    .block-container {
    // styling must be done on general.scss
    // unless purpose is to specifically override (not recommended)
    // add another class on block-container level if needed to override

        
        .projects-gallery {
            height: auto;
            margin: 0 auto 24px;
            @include flexbox;
            @include flex-flow(row wrap);
            @include justify-content(center);
            @include tablet-portrait {
                @include flex-flow(column);
            }

            .gallery-item {
                width: calc(50% - 48px);
                margin: 0 18px 24px;
                @include tablet-portrait {
                    width: 100%;
                    margin: 0 auto 24px;
                }

                &:hover > .gallery-item__image-container {
                    border: 2px solid $quarternary;
                }

                &__title {
                    margin-bottom: 24px;
                    color: $primary;
                    font-family: $robotoBold;
                    font-size: 20px;
                    display: block;
                    @include tablet-portrait {
                        text-align: center;
                    }
                }

                &__image-container {
                    width: 100%;
                    height: 256px;
                    margin-bottom: 24px;
                    color: $secondary;
                    background-color: $light;
                    border: 2px solid transparent;
                    border-radius: 4px;
                    font-family: $robotoBold;
                    font-size: 12px;
                    text-align: center;
                    overflow: hidden;
                    transition: all 300ms ease-out;
                    @include flexbox;
                    @include align-items(center);
                    @include tablet-portrait {
                        height: auto;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &__excerpt {
                    margin-bottom: 24px;
                
                    p {
                        // max-height: 5ch;
                        color: $quarternary;
                        // white-space: break-spaces;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                    }
                    a {
                        color: $quarternary;
                        text-decoration: underline; 
    
                        &:hover {
                            color: $primary;
                        }
                        &:hover svg {
                            fill: $primary;
                        }
                
                        svg {
                            width: 9px;
                            height: auto;
                            margin-left: 6px;
                            fill: $quarternary;
                            vertical-align: middle;
                            transition: all 300ms ease-out;
                        }
                     
                    }
                }

                &__tags {
                    color: $secondary;
                    text-align: right;

                    a {
                        margin: 0 4px;
                        color: $secondary;
                        text-decoration: underline;
                    }
                }
            }

            p.no-posts-available {
                color: $secondary;
                text-align: center;
            }
        }
        
    }
}