*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, .header-spacer, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, .header-spacer, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "avenir-light";
  src: url("media/fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "avenir-medium";
  src: url("media/fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: "avenir-bold";
  src: url("media/fonts/AvenirLTStd-Black.otf");
}
@font-face {
  font-family: "roboto-light";
  src: url("media/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("media/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("media/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("media/fonts/Roboto-Bold.ttf");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden !important;
}

h1, h2 {
  font-family: "avenir-bold";
  letter-spacing: 1px;
}

h3, h4 {
  font-family: "roboto-bold";
  letter-spacing: 1px;
}

h5, h6 {
  font-family: "roboto-medium";
  letter-spacing: 1px;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
@media (max-width: 784px) {
  h3 {
    font-size: 18px;
    line-height: 1.2;
  }
}

p, a, span {
  color: #768991;
  font-family: "roboto-regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

p {
  max-width: 600px;
}

li {
  max-width: 600px;
  margin-bottom: 6px;
}

a,
input[type=submit] {
  transition: all 100ms ease-in-out;
}

i.fa {
  font-size: 24px;
}
.block--wfull, .block--w1200 {
  width: 100%;
  margin: 0 auto;
}
.block--wfull .block-container, .block--w1200 .block-container {
  height: 100%;
  padding: 64px 64px 90px;
}
@media (max-width: 784px) {
  .block--wfull .block-container, .block--w1200 .block-container {
    padding: 32px 32px 72px;
  }
}
@media (max-width: 540px) {
  .block--wfull .block-container, .block--w1200 .block-container {
    padding: 32px 24px 60px;
  }
}
.block--wfull .block-container .block-content, .block--w1200 .block-container .block-content {
  max-width: 600px;
  margin: 0 auto;
}
.block--wfull .block-container .block-content h1, .block--w1200 .block-container .block-content h1, .block--wfull .block-container .block-content h2, .block--w1200 .block-container .block-content h2 {
  margin-bottom: 24px;
  color: #55AC47;
  font-family: "roboto-bold";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}
@media (max-width: 540px) {
  .block--wfull .block-container .block-content h1, .block--w1200 .block-container .block-content h1, .block--wfull .block-container .block-content h2, .block--w1200 .block-container .block-content h2 {
    text-align: center;
  }
}
.block--wfull .block-container .block-content p, .block--w1200 .block-container .block-content p, .block--wfull .block-container .block-content li, .block--w1200 .block-container .block-content li {
  color: #768991;
  font-family: "roboto-regular";
  font-size: 12px;
  line-height: 20px;
}
.block--wfull .block-container .block-content p, .block--w1200 .block-container .block-content p {
  margin-bottom: 16px;
}
.block--wfull .block-container .block-content li, .block--w1200 .block-container .block-content li {
  list-style-type: disc;
  margin-left: 14px;
}
.block--wfull .block-container .block-content li:last-of-type, .block--w1200 .block-container .block-content li:last-of-type {
  margin-bottom: 24px;
}
.block--wfull .block-container .block-content figure.wp-block-image, .block--w1200 .block-container .block-content figure.wp-block-image {
  width: 100%;
  height: auto;
  margin-bottom: 36px;
  overflow: hidden;
}
.block--wfull .block-container .block-content figure.wp-block-image img, .block--w1200 .block-container .block-content figure.wp-block-image img {
  width: auto;
  height: 100%;
}
.block--wfull .block-container .block-content .wp-block-columns, .block--w1200 .block-container .block-content .wp-block-columns {
  margin: 0;
}
.block--wfull .block-container .block-content p.tag-list, .block--w1200 .block-container .block-content p.tag-list {
  margin: 72px 0 0;
  text-align: right;
}
.block--wfull .block-container .block-content p.tag-list a, .block--w1200 .block-container .block-content p.tag-list a {
  margin: 0 4px;
  color: #55AC47;
  text-decoration: underline;
}
.block--w1200 {
  max-width: 1100px;
}
.block-title {
  margin-bottom: 60px;
  text-align: center;
}
.block-title--left {
  text-align: left;
}
.block-title__main {
  color: #2F72B8;
  font-family: "roboto-light";
  font-size: 36px;
}
@media (max-width: 784px) {
  .block-title__main {
    font-size: 24px;
  }
}
@media (max-width: 540px) {
  .block-title__main {
    font-size: 20px;
  }
}
.block-title__sub {
  max-width: none;
  margin-top: 6px;
  color: #55AC47;
  font-family: "roboto-medium";
  font-size: 12px;
}
.block-title__sub:before {
  content: "__";
}

.button-group {
  text-align: center;
}
.button-group .button {
  padding: 9px 60px;
  border-radius: 24px;
}
.button-group .button--light {
  color: #F9FCFA;
  border: 1px solid #F9FCFA;
}
.button-group .button--light:hover {
  background-color: #2F72B8;
}
.button-group .button--dark {
  color: #F9FCFA;
  background-color: #768991;
}
.button-group .button--dark:hover {
  background-color: #2F72B8;
}

.text--light {
  color: #F9FCFA;
}
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
@media (max-width: 540px) {
  .text--right {
    text-align: center;
  }
}

.max-width-none {
  max-width: none !important;
}

.hidden {
  display: none;
}

.remove-padding--top {
  padding-top: 0 !important;
}
.remove-padding--bottom {
  padding-bottom: 0 !important;
}

.remove-margin--top {
  margin-top: 0 !important;
}
.remove-margin--bottom {
  margin-bottom: 0 !important;
}

@media (max-width: 540px) {
  .hide-on-mobile {
    display: none;
  }
}

header, .header-spacer {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  z-index: 99;
}
@media (max-width: 900px) {
  header, .header-spacer {
    padding: 0 20px;
  }
}
@media (max-width: 784px) {
  header, .header-spacer {
    height: 48px;
    padding: 0;
    background-color: none;
    backdrop-filter: blur(0);
  }
}
header .header-container, .header-spacer .header-container {
  width: 100%;
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 784px) {
  header .header-container, .header-spacer .header-container {
    width: auto;
    max-width: none;
  }
}
header .header-container .logo-container, .header-spacer .header-container .logo-container {
  height: 100%;
}
@media (max-width: 784px) {
  header .header-container .logo-container, .header-spacer .header-container .logo-container {
    height: 100%;
    position: absolute;
    left: 0;
  }
}
header .header-container .logo-container__link, .header-spacer .header-container .logo-container__link {
  width: 100%;
  height: 100%;
  float: left;
}
header .header-container .logo-container__link img, .header-spacer .header-container .logo-container__link img {
  width: auto;
  height: 100%;
}
header .header-container #main-navigation, .header-spacer .header-container #main-navigation {
  z-index: 98;
}
@media (max-width: 784px) {
  header .header-container #main-navigation, .header-spacer .header-container #main-navigation {
    width: 50%;
  }
}
@media (max-width: 540px) {
  header .header-container #main-navigation, .header-spacer .header-container #main-navigation {
    width: 100%;
  }
}
header .header-container #main-navigation .custom-menu-class, .header-spacer .header-container #main-navigation .custom-menu-class {
  height: 100%;
}
header .header-container #main-navigation .custom-menu-class ul.menu, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 784px) {
  header .header-container #main-navigation .custom-menu-class ul.menu, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu {
    display: inline-block;
  }
}
header .header-container #main-navigation .custom-menu-class ul.menu li.menu-item, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.menu-item {
  height: 100%;
  margin: 0 12px;
  padding: 0 12px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 900px) {
  header .header-container #main-navigation .custom-menu-class ul.menu li.menu-item, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.menu-item {
    margin: 0 auto;
  }
}
@media (max-width: 784px) {
  header .header-container #main-navigation .custom-menu-class ul.menu li.menu-item, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.menu-item {
    margin: 0 auto;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
header .header-container #main-navigation .custom-menu-class ul.menu li.menu-item:hover a:before, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.menu-item:hover a:before {
  background: #2F72B8;
}
header .header-container #main-navigation .custom-menu-class ul.menu li.menu-item a, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.menu-item a {
  margin-top: 4px;
  position: relative;
  color: #2F72B8;
  font-size: 12px;
  text-transform: capitalize;
}
header .header-container #main-navigation .custom-menu-class ul.menu li.menu-item a:before, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.menu-item a:before {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  bottom: 0;
  background: transparent;
}
header .header-container #main-navigation .custom-menu-class ul.menu li.current_page_item a:before, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.current_page_item a:before,
header .header-container #main-navigation .custom-menu-class ul.menu li.current_page_parent a:before,
.header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.current_page_parent a:before,
header .header-container #main-navigation .custom-menu-class ul.menu li.current-menu-parent a:before,
.header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.current-menu-parent a:before {
  background: #2F72B8;
}
@media (max-width: 784px) {
  header .header-container #main-navigation .custom-menu-class ul.menu li.current_page_item a:before, .header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.current_page_item a:before,
header .header-container #main-navigation .custom-menu-class ul.menu li.current_page_parent a:before,
.header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.current_page_parent a:before,
header .header-container #main-navigation .custom-menu-class ul.menu li.current-menu-parent a:before,
.header-spacer .header-container #main-navigation .custom-menu-class ul.menu li.current-menu-parent a:before {
    background: #F9FCFA;
  }
}
header .header-container .mobile-nav, .header-spacer .header-container .mobile-nav {
  width: 100%;
  height: calc(100vh - 72px);
  position: absolute;
  top: 48px;
  right: -100%;
  transition: all 100ms ease-in-out;
}
@media (max-width: 784px) {
  header .header-container .mobile-nav, .header-spacer .header-container .mobile-nav {
    background-color: rgba(19, 51, 75, 0.9);
  }
}
@media (max-width: 540px) {
  header .header-container .mobile-nav, .header-spacer .header-container .mobile-nav {
    height: calc(100vh - 48px);
    top: 48px;
    right: calc(-100% - 20px);
  }
}
header .header-container .mobile-nav .custom-menu-class, .header-spacer .header-container .mobile-nav .custom-menu-class {
  width: 100%;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
header .header-container .mobile-nav .custom-menu-class ul.menu, .header-spacer .header-container .mobile-nav .custom-menu-class ul.menu {
  width: 100%;
  height: auto !important;
  margin: 20px auto;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-flow: column !important;
}
@media (max-width: 784px) {
  header .header-container .mobile-nav .custom-menu-class ul.menu, .header-spacer .header-container .mobile-nav .custom-menu-class ul.menu {
    width: 100%;
  }
}
@media (max-width: 784px) {
  header .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item, .header-spacer .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item {
    height: auto;
    width: 100%;
    padding: 12px 0 !important;
    color: #ffffff;
  }
}
@media (max-width: 540px) {
  header .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item, .header-spacer .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item {
    padding: 12px 0 !important;
  }
}
header .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item:hover, .header-spacer .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item:hover {
  background-color: #ffffff;
}
header .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item:hover a, .header-spacer .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item:hover a {
  color: #2F72B8 !important;
}
header .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item a, .header-spacer .header-container .mobile-nav .custom-menu-class ul.menu li.menu-item a {
  margin: 0 auto;
  color: #ffffff !important;
  border-bottom: none !important;
}
header .header-container .mobile-nav-open, .header-spacer .header-container .mobile-nav-open {
  right: -20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex !important;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 540px) {
  header .header-container .mobile-nav-open, .header-spacer .header-container .mobile-nav-open {
    right: 0;
  }
}
header .header-container .mobile-nav ~ a.mobile-icon img.icon-close-mobile-nav, .header-spacer .header-container .mobile-nav ~ a.mobile-icon img.icon-close-mobile-nav {
  display: none;
}
header .header-container .mobile-nav-open ~ a.mobile-icon img.icon-open-mobile-nav, .header-spacer .header-container .mobile-nav-open ~ a.mobile-icon img.icon-open-mobile-nav {
  display: none;
}
header .header-container .mobile-nav-open ~ a.mobile-icon img.icon-close-mobile-nav, .header-spacer .header-container .mobile-nav-open ~ a.mobile-icon img.icon-close-mobile-nav {
  display: inline-block;
}
header .header-container .mobile-nav-open ~ .external-links, .header-spacer .header-container .mobile-nav-open ~ .external-links {
  display: none;
}
header .header-container a.mobile-icon, .header-spacer .header-container a.mobile-icon {
  display: none;
  position: absolute;
  right: 20px;
}
@media (max-width: 784px) {
  header .header-container a.mobile-icon, .header-spacer .header-container a.mobile-icon {
    padding-right: 0;
    display: inline-block;
  }
}
header .header-container a.mobile-icon img.icon-close-mobile-nav, .header-spacer .header-container a.mobile-icon img.icon-close-mobile-nav {
  display: inline-block;
}

.header-spacer {
  position: relative;
  z-index: 0;
}

footer {
  width: 100%;
  height: auto;
  padding: 96px 0;
  position: relative;
  background-color: #495965;
}
@media (max-width: 784px) {
  footer {
    padding: 72px 20px;
    text-align: center;
  }
}
footer .footer-container {
  width: inherit;
  max-width: 900px;
  height: inherit;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
}
@media (max-width: 900px) {
  footer .footer-container {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 784px) {
  footer .footer-container {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
footer .footer-container .footer-widget {
  margin-right: 60px;
}
@media (max-width: 784px) {
  footer .footer-container .footer-widget {
    width: 100%;
    margin-right: auto;
  }
}
footer .footer-container .footer-widget:last-of-type {
  margin-right: 0;
}
footer .footer-container .footer-widget aside p {
  color: #F9FCFA;
}
@media (max-width: 784px) {
  footer .footer-container .footer-widget aside p {
    max-width: none;
  }
}
footer .footer-container .footer-widget aside.widget_text {
  margin-bottom: 12px;
}

#logo-container {
  width: 72px;
  height: auto;
}
@media (max-width: 784px) {
  #logo-container {
    margin: 0 auto;
  }
}
#logo-container figure.wp-block-image img {
  height: auto;
}

@media (max-width: 784px) {
  ul#menu-site-map {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
ul#menu-site-map li.menu-item {
  margin-bottom: 9px;
}
@media (max-width: 784px) {
  ul#menu-site-map li.menu-item {
    margin-right: 12px;
  }
}
ul#menu-site-map li.menu-item a {
  color: #F9FCFA;
}

@media (max-width: 784px) {
  #links-and-contacts {
    margin-top: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 540px) {
  #links-and-contacts {
    text-align: center;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
#links-and-contacts #social-media {
  margin-bottom: 24px;
}
#links-and-contacts #social-media .widget_media_image {
  display: inline-block;
  margin-right: 12px;
}
#links-and-contacts #address, #links-and-contacts #phone {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media (max-width: 784px) {
  #links-and-contacts #address, #links-and-contacts #phone {
    width: calc(50% - 24px);
    margin-right: 12px;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
}
@media (max-width: 540px) {
  #links-and-contacts #address, #links-and-contacts #phone {
    width: 100%;
    margin-right: auto;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
#links-and-contacts #address img, #links-and-contacts #phone img {
  margin-right: 12px;
}
@media (max-width: 784px) {
  #links-and-contacts #address img, #links-and-contacts #phone img {
    margin-bottom: 12px;
  }
}
@media (max-width: 784px) {
  #links-and-contacts #address .widget_text, #links-and-contacts #phone .widget_text {
    text-align: right;
  }
}
@media (max-width: 540px) {
  #links-and-contacts #address .widget_text, #links-and-contacts #phone .widget_text {
    text-align: center;
  }
}
#links-and-contacts #phone {
  margin-bottom: 24px;
}
@media (max-width: 784px) {
  #links-and-contacts #phone {
    margin-left: 12px;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 540px) {
  #links-and-contacts #phone {
    margin-left: auto;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

@media (max-width: 784px) {
  #google-map {
    width: 100%;
  }
}
#google-map aside iframe {
  width: 100%;
  min-width: 420px;
  border-radius: 4px;
}
@media (max-width: 784px) {
  #google-map aside iframe {
    min-width: auto;
  }
}

#copyright {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 80px);
  text-align: center;
}
#copyright p {
  color: #F9FCFA;
}

.gallery .carousel {
  width: 50%;
}
.gallery .carousel.is-expanded {
  width: 100%;
}
.gallery .carousel.is-expanded .carousel-cell {
  height: auto;
}
.gallery .gallery-cell {
  width: 100%;
  height: 100%;
  counter-increment: summary-cell;
}
.gallery .flickity-page-dots {
  position: relative;
  text-align: center;
  bottom: 3.5rem;
}
.gallery .flickity-page-dots .dot {
  width: 16px;
  height: 16px;
  opacity: 1;
  background: #ffffff;
  border: 1px solid transparent;
}
.gallery .flickity-page-dots .dot:hover {
  border: 1px solid #2F72B8;
}
.gallery .flickity-page-dots .dot.is-selected {
  background-color: #2F72B8;
}
.gallery .flickity-page-dots .dot:first-child:nth-last-child(1) {
  opacity: 0;
}

.nav-post {
  margin: 72px auto 36px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.nav-post__previous:hover a {
  color: #2F72B8;
}
.nav-post__previous:hover svg {
  fill: #2F72B8;
}
.nav-post__previous svg {
  width: 16px;
  height: auto;
  margin-right: 6px;
  fill: #768991;
  vertical-align: middle;
  transform: rotate(180deg);
}
.nav-post__previous a {
  width: 200px;
  height: 100%;
}
.nav-post__next:hover a {
  color: #2F72B8;
}
.nav-post__next:hover svg {
  fill: #2F72B8;
}
.nav-post__next svg {
  width: 16px;
  height: auto;
  margin-left: 6px;
  fill: #768991;
  vertical-align: middle;
  transition: all 300ms ease-out;
}
.nav-post__next a {
  width: 200px;
  height: 100%;
}

.searchandfilter {
  margin: 24px auto;
}
.searchandfilter ul {
  width: 100%;
}
.searchandfilter ul li {
  width: 100%;
}
.searchandfilter ul li h4 {
  color: #55AC47;
  font-family: "roboto-regular";
  font-size: 12px;
  letter-spacing: 0;
}
.searchandfilter ul li ul {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.searchandfilter ul li ul li {
  width: auto;
  max-width: 33.33%;
}
.searchandfilter ul li ul li label {
  color: #55AC47;
  font-family: "roboto-medium";
  font-size: 12px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.searchandfilter ul li ul li label input[type=checkbox] {
  -webkit-appearance: checkbox !important;
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid #768991;
  border-radius: 4px;
}
.searchandfilter ul li ul li label input[type=checkbox]:checked {
  color: #2F72B8;
  border: 1px solid #2F72B8;
}
.searchandfilter ul li select {
  width: 240px;
  height: 24px;
  margin-top: 4px;
  padding: 2px 3px;
  color: #768991;
  border: 1px solid #768991;
  border-radius: 4px;
  font-family: "roboto-regular";
  font-size: 12px;
}
.searchandfilter ul li select:hover {
  cursor: pointer;
  border: 1px solid #55AC47;
}
.searchandfilter ul li:last-of-type {
  width: 100%;
}
.searchandfilter ul li input[type=submit] {
  margin: 0 auto;
  padding: 6px 36px;
  color: #55AC47;
  background-color: transparent;
  border: 1px solid #768991;
  border-radius: 24px;
  font-family: "roboto-medium";
}
.searchandfilter ul li input[type=submit]:hover {
  cursor: pointer;
  color: #F9FCFA;
  background-color: #55AC47;
  border: 1px solid #55AC47;
}

form.filter-posts {
  margin-top: 24px;
}
@media (max-width: 540px) {
  form.filter-posts p.form-block {
    text-align: center;
  }
}
form.filter-posts p.form-block label span.help-subject select.filter-tag {
  width: 240px;
  height: 24px;
  margin-top: 4px;
  padding: 2px 3px;
  color: #768991;
  border: 1px solid #768991;
  border-radius: 4px;
  font-family: "roboto-regular";
  font-size: 12px;
}
form.filter-posts p.form-block label span.help-subject select.filter-tag:hover {
  cursor: pointer;
  border: 1px solid #55AC47;
}

.index-intro {
  background-color: #F9FCFA;
}
.index-intro .block-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 0;
}
@media (max-width: 900px) {
  .index-intro .block-container {
    padding: 64px;
  }
}
@media (max-width: 540px) {
  .index-intro .block-container {
    padding: 36px;
  }
}

.call-to-action {
  height: auto;
  background-color: #768991;
}
.call-to-action .block-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 784px) {
  .call-to-action .block-container {
    padding: 36px 36px 72px;
  }
}
.tag-intro {
  background-color: #F9FCFA;
}
.tag-intro .block-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 0;
}
@media (max-width: 900px) {
  .tag-intro .block-container {
    padding: 64px;
  }
}
@media (max-width: 540px) {
  .tag-intro .block-container {
    padding: 36px;
  }
}
.tag-intro .block-container .block-title .block-title__main {
  text-transform: capitalize;
}

.tag-content .block-container .projects-gallery {
  height: auto;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 784px) {
  .tag-content .block-container .projects-gallery {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
.tag-content .block-container .projects-gallery .gallery-item {
  width: calc(50% - 48px);
  margin: 0 18px 24px;
}
@media (max-width: 784px) {
  .tag-content .block-container .projects-gallery .gallery-item {
    width: 100%;
    margin: 0 auto 24px;
  }
}
.tag-content .block-container .projects-gallery .gallery-item:hover > .gallery-item__image-container {
  border: 2px solid #768991;
}
.tag-content .block-container .projects-gallery .gallery-item__title {
  margin-bottom: 24px;
  color: #2F72B8;
  font-family: "roboto-bold";
  font-size: 20px;
  display: block;
}
@media (max-width: 784px) {
  .tag-content .block-container .projects-gallery .gallery-item__title {
    text-align: center;
  }
}
.tag-content .block-container .projects-gallery .gallery-item__image-container {
  width: 100%;
  height: 256px;
  margin-bottom: 24px;
  color: #55AC47;
  background-color: #F9FCFA;
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: "roboto-bold";
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 784px) {
  .tag-content .block-container .projects-gallery .gallery-item__image-container {
    height: auto;
  }
}
.tag-content .block-container .projects-gallery .gallery-item__image-container img {
  width: 100%;
  height: auto;
}
.tag-content .block-container .projects-gallery .gallery-item__excerpt {
  margin-bottom: 24px;
}
.tag-content .block-container .projects-gallery .gallery-item__excerpt p {
  color: #768991;
}
.tag-content .block-container .projects-gallery .gallery-item__excerpt a {
  color: #768991;
  text-decoration: underline;
}
.tag-content .block-container .projects-gallery .gallery-item__excerpt a:hover {
  color: #2F72B8;
}
.tag-content .block-container .projects-gallery .gallery-item__excerpt a:hover svg {
  fill: #2F72B8;
}
.tag-content .block-container .projects-gallery .gallery-item__excerpt a svg {
  width: 9px;
  height: auto;
  margin-left: 6px;
  fill: #768991;
  vertical-align: middle;
  transition: all 300ms ease-out;
}
.tag-content .block-container .projects-gallery .gallery-item__tags {
  color: #55AC47;
  text-align: right;
}
.tag-content .block-container .projects-gallery .gallery-item__tags a {
  margin: 0 4px;
  color: #55AC47;
  text-decoration: underline;
}
.tag-content .block-container .projects-gallery p.no-posts-available {
  color: #55AC47;
  text-align: center;
}

.home-intro {
  height: 577px;
  position: relative;
  transition: all 100ms ease-out;
}
@media (max-width: 784px) {
  .home-intro {
    height: 400px;
  }
}
.home-intro .caption-container {
  width: auto;
  position: relative;
  top: 30%;
  padding: 96px;
  color: #F9FCFA;
  text-align: center;
}
@media (max-width: 784px) {
  .home-intro .caption-container {
    padding: 48px;
  }
}
@media (max-width: 540px) {
  .home-intro .caption-container {
    top: 24%;
    padding: 36px;
  }
}
.home-intro .caption-container h1.caption-main {
  margin-bottom: 24px;
  font-family: "roboto-bold";
}
@media (max-width: 784px) {
  .home-intro .caption-container h1.caption-main {
    font-size: 36px;
  }
}
@media (max-width: 540px) {
  .home-intro .caption-container h1.caption-main {
    font-size: 30px;
  }
}
.home-intro .caption-container p.caption-sub {
  margin: 0 auto;
  color: #F9FCFA;
  font-family: "roboto-medium";
}
.home-intro .hero-button-container {
  width: 360px;
  height: 36px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 180px);
  border: 2px solid #F9FCFA;
  border-radius: 24px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 540px) {
  .home-intro .hero-button-container {
    height: 72px;
    width: 80%;
    bottom: -1.5em;
    left: 10%;
    border-radius: 48px;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
.home-intro .hero-button-container a.hero-button-group--left, .home-intro .hero-button-container a.hero-button-group--right {
  width: 100%;
  height: 100%;
  padding: 6px 0;
  color: #F9FCFA;
  background-color: #2F72B8;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.home-intro .hero-button-container a.hero-button-group--left:hover, .home-intro .hero-button-container a.hero-button-group--right:hover {
  color: #2F72B8;
  background-color: #F9FCFA;
}
.home-intro .hero-button-container a.hero-button-group--right {
  background-color: #55AC47;
}
.home-intro .hero-button-container a.hero-button-group--right:hover {
  color: #55AC47;
}
.home-intro .hero-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.home-intro .hero-background-container__mask {
  width: auto;
  height: 100%;
  mask: url("media/shapes/home-intro-mask.svg");
  -webkit-mask: url("media/shapes/home-intro-mask.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: bottom center;
  -webkit-mask-position: bottom center;
}
.home-intro .hero-background-container__mask img {
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(50%);
}

.summary {
  padding: 90px 0;
}
.summary .block-container {
  padding: 0;
}

.summary-gallery {
  height: 600px;
}
@media (max-width: 784px) {
  .summary-gallery {
    height: 500px;
  }
}
.summary-gallery .summary-cell {
  width: 50%;
  height: 100%;
  margin: 0 24px;
  counter-increment: summary-cell;
}
@media (max-width: 900px) {
  .summary-gallery .summary-cell {
    width: 66.66%;
  }
}
@media (max-width: 784px) {
  .summary-gallery .summary-cell {
    width: 100%;
    padding: 0 24px;
  }
}
.summary-gallery .summary-cell__image-container {
  width: 100%;
  max-width: 420px;
  height: 100%;
  max-height: 240px;
  margin: 0 auto;
  position: relative;
  top: 12%;
  border-radius: 4px;
  overflow: hidden;
  transition: all 300ms ease-out;
}
.summary-gallery .summary-cell__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.summary-gallery .summary-cell__caption-group {
  position: relative;
  top: 4.5em;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.summary-gallery .summary-cell__caption-main {
  margin-bottom: 24px;
  color: #55AC47;
  font-family: "roboto-bold";
  font-size: 16px;
  text-align: center;
}
.summary-gallery .summary-cell__caption-paragraph {
  margin: 0 auto;
  color: #768991;
}
.summary-gallery .is-selected > .summary-cell__image-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 420px;
  margin: 0 auto;
  position: relative;
  top: auto;
  overflow: hidden;
}
@media (max-width: 784px) {
  .summary-gallery .is-selected > .summary-cell__image-container {
    max-height: 300px;
  }
}
.summary-gallery .is-selected > .summary-cell__caption-group {
  opacity: 1;
}
.summary-gallery ol.flickity-page-dots {
  position: absolute;
  text-align: center;
  bottom: 7.25em;
}
@media (max-width: 1200px) {
  .summary-gallery ol.flickity-page-dots {
    bottom: 8.5em;
  }
}
@media (max-width: 784px) {
  .summary-gallery ol.flickity-page-dots {
    bottom: 10em;
  }
}
.summary-gallery ol.flickity-page-dots .dot {
  width: 36px;
  height: 4px;
  margin: 0 2px;
  background-color: rgba(118, 137, 145, 0.5);
  border-radius: 2px;
}
.summary-gallery ol.flickity-page-dots .dot:hover {
  background-color: rgba(118, 137, 145, 0.8);
}
.summary-gallery ol.flickity-page-dots .dot.is-selected {
  background-color: #768991;
}

.preview-projects .block-container .preview-gallery-container {
  height: auto;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 784px) {
  .preview-projects .block-container .preview-gallery-container {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
.preview-projects .block-container .preview-gallery-container .gallery-item {
  width: calc(50% - 48px);
  margin: 0 18px 24px;
}
@media (max-width: 784px) {
  .preview-projects .block-container .preview-gallery-container .gallery-item {
    width: 100%;
    margin: 0 auto 24px;
  }
}
.preview-projects .block-container .preview-gallery-container .gallery-item:hover > .gallery-item__image-container {
  border: 2px solid #768991;
}
.preview-projects .block-container .preview-gallery-container .gallery-item__title {
  margin-bottom: 24px;
  color: #2F72B8;
  font-family: "roboto-bold";
  font-size: 20px;
  display: block;
}
@media (max-width: 784px) {
  .preview-projects .block-container .preview-gallery-container .gallery-item__title {
    text-align: center;
  }
}
.preview-projects .block-container .preview-gallery-container .gallery-item__image-container {
  width: 100%;
  height: 256px;
  margin-bottom: 24px;
  color: #55AC47;
  background-color: #F9FCFA;
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: "roboto-bold";
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 784px) {
  .preview-projects .block-container .preview-gallery-container .gallery-item__image-container {
    height: auto;
  }
}
.preview-projects .block-container .preview-gallery-container .gallery-item__image-container img {
  width: 100%;
  height: auto;
}
.preview-projects .block-container .preview-gallery-container .gallery-item__excerpt {
  margin-bottom: 24px;
}
.preview-projects .block-container .preview-gallery-container .gallery-item__excerpt p {
  color: #768991;
}
.preview-projects .block-container .preview-gallery-container .gallery-item__excerpt a {
  color: #768991;
  text-decoration: underline;
}
.preview-projects .block-container .preview-gallery-container .gallery-item__excerpt a:hover {
  color: #2F72B8;
}
.preview-projects .block-container .preview-gallery-container .gallery-item__excerpt a:hover svg {
  fill: #2F72B8;
}
.preview-projects .block-container .preview-gallery-container .gallery-item__excerpt a svg {
  width: 9px;
  height: auto;
  margin-left: 6px;
  fill: #768991;
  vertical-align: middle;
  transition: all 300ms ease-out;
}
.preview-projects .block-container .preview-gallery-container .gallery-item__tags {
  color: #55AC47;
  text-align: right;
}
.preview-projects .block-container .preview-gallery-container .gallery-item__tags a {
  margin: 0 4px;
  color: #55AC47;
  text-decoration: underline;
}
.preview-projects .block-container .preview-gallery-container p.no-posts-available {
  color: #55AC47;
  text-align: center;
}
.preview-projects .block-container .block-button {
  width: 100%;
  height: 36px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.preview-projects .block-container .block-button__button-group {
  height: 100%;
  padding: 6px 90px;
  color: #2F72B8;
  background-color: #ffffff;
  border: 2px solid #2F72B8;
  border-radius: 18px;
}
@media (max-width: 540px) {
  .preview-projects .block-container .block-button__button-group {
    padding: 6px 48px;
  }
}
.preview-projects .block-container .block-button__button-group:hover {
  color: #ffffff;
  background-color: #2F72B8;
  border: 2px solid #ffffff;
}
.preview-projects .block-container .block-button__button-group:hover ~ .block-button__line {
  background-color: #2F72B8;
}
.preview-projects .block-container .block-button__line {
  width: 100%;
  height: 6px;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #768991;
  border-radius: 6px;
  z-index: -1;
}

.preview-services {
  background-color: #F9FCFA;
}
.preview-services .block-container {
  max-width: 972px;
  margin: 0 auto;
}
.preview-services .block-container .preview-gallery-container {
  height: auto;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 784px) {
  .preview-services .block-container .preview-gallery-container {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
.preview-services .block-container .preview-gallery-container .gallery-item {
  width: calc(33.33% - 36px);
  margin: 0 18px 24px;
}
@media (max-width: 900px) {
  .preview-services .block-container .preview-gallery-container .gallery-item {
    width: calc(50% - 36px);
    margin: 0 auto 24px;
  }
}
@media (max-width: 784px) {
  .preview-services .block-container .preview-gallery-container .gallery-item {
    width: 100%;
    margin: 0 auto 24px;
  }
}
.preview-services .block-container .preview-gallery-container .gallery-item__title {
  margin-bottom: 24px;
  color: #55AC47;
  font-family: "roboto-medium";
  font-size: 16px;
  text-align: center;
  display: block;
}
@media (max-width: 784px) {
  .preview-services .block-container .preview-gallery-container .gallery-item__title {
    text-align: center;
  }
}
.preview-services .block-container .preview-gallery-container .gallery-item__title:hover {
  color: #13334B;
}
.preview-services .block-container .preview-gallery-container .gallery-item__image-container {
  width: 150px;
  height: 150px;
  margin: 0 auto 24px;
  color: #55AC47;
  font-family: "roboto-bold";
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.preview-services .block-container .preview-gallery-container .gallery-item__image-container img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.preview-services .block-container .preview-gallery-container .gallery-item__excerpt {
  margin-bottom: 24px;
}
@media (max-width: 784px) {
  .preview-services .block-container .preview-gallery-container .gallery-item__excerpt {
    max-width: 360px;
    margin: 0 auto 24px;
  }
}
.preview-services .block-container .preview-gallery-container .gallery-item__excerpt p {
  color: #768991;
}
.preview-services .block-container .preview-gallery-container .gallery-item__excerpt a {
  color: #768991;
  text-decoration: underline;
}
.preview-services .block-container .preview-gallery-container .gallery-item__excerpt a:hover {
  color: #55AC47;
}
.preview-services .block-container .preview-gallery-container .gallery-item__excerpt a:hover svg {
  fill: #55AC47;
}
.preview-services .block-container .preview-gallery-container .gallery-item__excerpt a svg {
  width: 9px;
  height: auto;
  margin-left: 6px;
  fill: #768991;
  vertical-align: middle;
  transition: all 300ms ease-out;
}
.preview-services .block-container .preview-gallery-container .gallery-item__tags {
  color: #55AC47;
  text-align: right;
}
.preview-services .block-container .preview-gallery-container .gallery-item__tags a {
  margin: 0 4px;
  color: #55AC47;
  text-decoration: underline;
}
.preview-services .block-container .preview-gallery-container p.no-posts-available {
  color: #55AC47;
  text-align: center;
}
.preview-services .block-container .block-button {
  width: 100%;
  height: 36px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.preview-services .block-container .block-button__button-group {
  height: 100%;
  padding: 6px 90px;
  color: #55AC47;
  background-color: #F9FCFA;
  border: 2px solid #55AC47;
  border-radius: 18px;
  z-index: 2;
}
@media (max-width: 540px) {
  .preview-services .block-container .block-button__button-group {
    padding: 6px 48px;
  }
}
.preview-services .block-container .block-button__button-group:hover {
  color: #F9FCFA;
  background-color: #55AC47;
  border: 2px solid #F9FCFA;
}
.preview-services .block-container .block-button__button-group:hover ~ .block-button__line {
  background-color: #55AC47;
}
.preview-services .block-container .block-button__line {
  width: 100%;
  height: 6px;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #768991;
  border-radius: 6px;
}

.projects-intro {
  background-color: #F9FCFA;
}
.projects-intro .block-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 0;
}
@media (max-width: 900px) {
  .projects-intro .block-container {
    padding: 64px;
  }
}
@media (max-width: 540px) {
  .projects-intro .block-container {
    padding: 36px;
  }
}

.projects-content .block-container .projects-gallery {
  height: auto;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 784px) {
  .projects-content .block-container .projects-gallery {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
.projects-content .block-container .projects-gallery .gallery-item {
  width: calc(50% - 48px);
  margin: 0 18px 24px;
}
@media (max-width: 784px) {
  .projects-content .block-container .projects-gallery .gallery-item {
    width: 100%;
    margin: 0 auto 24px;
  }
}
.projects-content .block-container .projects-gallery .gallery-item:hover > .gallery-item__image-container {
  border: 2px solid #768991;
}
.projects-content .block-container .projects-gallery .gallery-item__title {
  margin-bottom: 24px;
  color: #2F72B8;
  font-family: "roboto-bold";
  font-size: 20px;
  display: block;
}
@media (max-width: 784px) {
  .projects-content .block-container .projects-gallery .gallery-item__title {
    text-align: center;
  }
}
.projects-content .block-container .projects-gallery .gallery-item__image-container {
  width: 100%;
  height: 256px;
  margin-bottom: 24px;
  color: #55AC47;
  background-color: #F9FCFA;
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: "roboto-bold";
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 784px) {
  .projects-content .block-container .projects-gallery .gallery-item__image-container {
    height: auto;
  }
}
.projects-content .block-container .projects-gallery .gallery-item__image-container img {
  width: 100%;
  height: auto;
}
.projects-content .block-container .projects-gallery .gallery-item__excerpt {
  margin-bottom: 24px;
}
.projects-content .block-container .projects-gallery .gallery-item__excerpt p {
  color: #768991;
}
.projects-content .block-container .projects-gallery .gallery-item__excerpt a {
  color: #768991;
  text-decoration: underline;
}
.projects-content .block-container .projects-gallery .gallery-item__excerpt a:hover {
  color: #2F72B8;
}
.projects-content .block-container .projects-gallery .gallery-item__excerpt a:hover svg {
  fill: #2F72B8;
}
.projects-content .block-container .projects-gallery .gallery-item__excerpt a svg {
  width: 9px;
  height: auto;
  margin-left: 6px;
  fill: #768991;
  vertical-align: middle;
  transition: all 300ms ease-out;
}
.projects-content .block-container .projects-gallery .gallery-item__tags {
  color: #55AC47;
  text-align: right;
}
.projects-content .block-container .projects-gallery .gallery-item__tags a {
  margin: 0 4px;
  color: #55AC47;
  text-decoration: underline;
}
.projects-content .block-container .projects-gallery p.no-posts-available {
  color: #55AC47;
  text-align: center;
}

.single-post-project-intro {
  height: 577px;
  position: relative;
  transition: all 100ms ease-out;
}
@media (max-width: 784px) {
  .single-post-project-intro {
    height: 400px;
  }
}
.single-post-project-intro .caption-container {
  width: auto;
  position: relative;
  top: 20%;
  padding: 96px;
  color: #F9FCFA;
  text-align: center;
}
@media (max-width: 784px) {
  .single-post-project-intro .caption-container {
    padding: 48px;
  }
}
@media (max-width: 540px) {
  .single-post-project-intro .caption-container {
    top: 15%;
    padding: 36px;
  }
}
.single-post-project-intro .caption-container h1.caption-main {
  font-family: "roboto-bold";
}
@media (max-width: 784px) {
  .single-post-project-intro .caption-container h1.caption-main {
    font-size: 36px;
  }
}
@media (max-width: 540px) {
  .single-post-project-intro .caption-container h1.caption-main {
    font-size: 30px;
  }
}
.single-post-project-intro .caption-container p.caption-sub {
  margin: 0 auto;
  color: #F9FCFA;
  font-family: "roboto-medium";
  line-height: 1.5;
}
.single-post-project-intro .caption-container p.caption-sub:before {
  content: "__";
}
.single-post-project-intro .hero-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.single-post-project-intro .hero-background-container__mask {
  width: auto;
  height: 100%;
  mask: url("media/shapes/other-pages-intro-mask.svg");
  -webkit-mask: url("media/shapes/other-pages-intro-mask.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: bottom center;
  -webkit-mask-position: bottom center;
}
.single-post-project-intro .hero-background-container__mask img {
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #13334B;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(50%);
}

.single-post-project-content .block-container {
  position: relative;
  top: -96px;
}

.single-post-project-related-content .block-container__line {
  width: 100%;
  height: 6px;
  margin: 0 auto 36px;
  background-color: #768991;
  border-radius: 6px;
  display: block;
}
.single-post-project-related-content .block-container p.title {
  margin-bottom: 36px;
  font-family: "roboto-bold";
  font-size: 18px;
  color: #768991;
  text-align: center;
}
.single-post-project-related-content .block-container .preview-gallery-related-content {
  height: auto;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 784px) {
  .single-post-project-related-content .block-container .preview-gallery-related-content {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item {
  width: calc(33.33% - 48px);
  margin: 0 18px 24px;
}
@media (max-width: 900px) {
  .single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item {
    width: calc(50% - 48px);
    margin: 0 auto 24px;
  }
}
@media (max-width: 784px) {
  .single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item {
    width: 100%;
  }
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item:hover > .gallery-item__image-container {
  border: 2px solid #768991;
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__title {
  margin-bottom: 24px;
  color: #2F72B8;
  font-family: "roboto-bold";
  font-size: 20px;
  display: block;
}
@media (max-width: 784px) {
  .single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__title {
    text-align: center;
  }
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__image-container {
  width: 100%;
  height: 192px;
  margin-bottom: 24px;
  color: #55AC47;
  background-color: #F9FCFA;
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: "roboto-bold";
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 784px) {
  .single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__image-container {
    height: auto;
  }
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__image-container img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__excerpt {
  margin-bottom: 24px;
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__excerpt p {
  color: #768991;
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__excerpt a {
  color: #768991;
  text-decoration: underline;
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__excerpt a:hover {
  color: #2F72B8;
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__excerpt a:hover svg {
  fill: #2F72B8;
}
.single-post-project-related-content .block-container .preview-gallery-related-content .gallery-item__excerpt a svg {
  width: 9px;
  height: auto;
  margin-left: 6px;
  fill: #768991;
  vertical-align: middle;
  transition: all 300ms ease-out;
}
@media (max-width: 784px) {
  .single-post-project-related-content .block-container .preview-gallery-related-content p.no-posts-available {
    text-align: center;
  }
}

.services-intro .block-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 0;
}
@media (max-width: 900px) {
  .services-intro .block-container {
    padding: 64px;
  }
}
@media (max-width: 540px) {
  .services-intro .block-container {
    padding: 36px;
  }
}

.services-content .block-container .services-gallery {
  height: auto;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 784px) {
  .services-content .block-container .services-gallery {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
.services-content .block-container .services-gallery .gallery-item {
  width: calc(33.33% - 36px);
  margin: 0 18px 24px;
}
@media (max-width: 900px) {
  .services-content .block-container .services-gallery .gallery-item {
    width: calc(50% - 36px);
    margin: 0 auto 24px;
  }
}
@media (max-width: 784px) {
  .services-content .block-container .services-gallery .gallery-item {
    width: 100%;
    margin: 0 auto 24px;
  }
}
.services-content .block-container .services-gallery .gallery-item__title {
  margin-bottom: 24px;
  color: #13334B;
  font-family: "roboto-medium";
  font-size: 16px;
  text-align: center;
  display: block;
}
@media (max-width: 784px) {
  .services-content .block-container .services-gallery .gallery-item__title {
    text-align: center;
  }
}
.services-content .block-container .services-gallery .gallery-item__title:hover {
  color: #2F72B8;
}
.services-content .block-container .services-gallery .gallery-item__image-container {
  width: 150px;
  height: 150px;
  margin: 0 auto 24px;
  color: #55AC47;
  font-family: "roboto-bold";
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.services-content .block-container .services-gallery .gallery-item__image-container img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.services-content .block-container .services-gallery .gallery-item__excerpt {
  margin-bottom: 24px;
}
@media (max-width: 784px) {
  .services-content .block-container .services-gallery .gallery-item__excerpt {
    max-width: 360px;
    margin: 0 auto 24px;
  }
}
.services-content .block-container .services-gallery .gallery-item__excerpt p {
  color: #768991;
}
.services-content .block-container .services-gallery .gallery-item__excerpt a {
  color: #768991;
  text-decoration: underline;
}
.services-content .block-container .services-gallery .gallery-item__excerpt a:hover {
  color: #2F72B8;
}
.services-content .block-container .services-gallery .gallery-item__excerpt a:hover svg {
  fill: #2F72B8;
}
.services-content .block-container .services-gallery .gallery-item__excerpt a svg {
  width: 9px;
  height: auto;
  margin-left: 6px;
  fill: #768991;
  vertical-align: middle;
  transition: all 300ms ease-out;
}
.services-content .block-container .services-gallery .gallery-item__tags {
  color: #55AC47;
  text-align: right;
}
.services-content .block-container .services-gallery .gallery-item__tags a {
  margin: 0 4px;
  color: #55AC47;
  text-decoration: underline;
}
.services-content .block-container .services-gallery p.no-posts-available {
  color: #55AC47;
  text-align: center;
}

.single-post-service-intro {
  height: 577px;
  position: relative;
  transition: all 100ms ease-out;
}
@media (max-width: 784px) {
  .single-post-service-intro {
    height: 400px;
  }
}
.single-post-service-intro .image-container {
  width: 100%;
  height: 240px;
  position: relative;
  top: 20%;
  display: block;
  text-align: center;
}
.single-post-service-intro .image-container img {
  width: auto;
  height: 100%;
}
.single-post-service-intro .hero-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.single-post-service-intro .hero-background-container__mask {
  width: auto;
  height: 100%;
  mask: url("media/shapes/other-pages-intro-mask.svg");
  -webkit-mask: url("media/shapes/other-pages-intro-mask.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: bottom center;
  -webkit-mask-position: bottom center;
}
.single-post-service-intro .hero-background-container__mask img {
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #55AC47;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(50%);
}

.single-post-service-content .block-container {
  padding-top: 0;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  top: -60px;
}

.company-intro {
  height: 577px;
  position: relative;
  transition: all 100ms ease-out;
}
@media (max-width: 784px) {
  .company-intro {
    height: 400px;
  }
}
.company-intro .caption-container {
  width: auto;
  position: relative;
  top: 20%;
  padding: 96px;
  color: #F9FCFA;
  text-align: center;
}
@media (max-width: 784px) {
  .company-intro .caption-container {
    padding: 48px;
  }
}
@media (max-width: 540px) {
  .company-intro .caption-container {
    top: 15%;
    padding: 36px;
  }
}
.company-intro .caption-container h1.caption-main {
  font-family: "roboto-bold";
}
@media (max-width: 784px) {
  .company-intro .caption-container h1.caption-main {
    font-size: 36px;
  }
}
@media (max-width: 540px) {
  .company-intro .caption-container h1.caption-main {
    font-size: 30px;
  }
}
.company-intro .caption-container p.caption-sub {
  margin: 0 auto;
  color: #F9FCFA;
  font-family: "roboto-medium";
  line-height: 1.5;
}
.company-intro .caption-container p.caption-sub:before {
  content: "__";
}
.company-intro .hero-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.company-intro .hero-background-container__mask {
  width: auto;
  height: 100%;
  mask: url("media/shapes/other-pages-intro-mask.svg");
  -webkit-mask: url("media/shapes/other-pages-intro-mask.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: bottom center;
  -webkit-mask-position: bottom center;
}
.company-intro .hero-background-container__mask img {
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(50%);
}

.company-content .block-container {
  position: relative;
  top: -96px;
}

.company-team .block-container {
  max-width: 972px;
  margin: 0 auto;
}
.company-team .block-container .preview-gallery-container {
  height: auto;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 784px) {
  .company-team .block-container .preview-gallery-container {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}
.company-team .block-container .preview-gallery-container .gallery-item {
  width: calc(33.33% - 36px);
  margin: 0 18px 24px;
}
@media (max-width: 900px) {
  .company-team .block-container .preview-gallery-container .gallery-item {
    width: calc(50% - 36px);
    margin: 0 auto 24px;
  }
}
@media (max-width: 784px) {
  .company-team .block-container .preview-gallery-container .gallery-item {
    width: 100%;
    margin: 0 auto 24px;
  }
}
.company-team .block-container .preview-gallery-container .gallery-item__title {
  margin-bottom: 24px;
  color: #13334B;
  font-family: "roboto-medium";
  font-size: 16px;
  text-align: center;
  display: block;
}
@media (max-width: 784px) {
  .company-team .block-container .preview-gallery-container .gallery-item__title {
    text-align: center;
  }
}
.company-team .block-container .preview-gallery-container .gallery-item__title:hover {
  color: #2F72B8;
}
.company-team .block-container .preview-gallery-container .gallery-item__image-container {
  width: 150px;
  height: 150px;
  margin: 0 auto 24px;
  color: #55AC47;
  font-family: "roboto-bold";
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.company-team .block-container .preview-gallery-container .gallery-item__image-container img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.company-team .block-container .preview-gallery-container .gallery-item__excerpt {
  margin-bottom: 24px;
}
@media (max-width: 784px) {
  .company-team .block-container .preview-gallery-container .gallery-item__excerpt {
    max-width: 360px;
    margin: 0 auto 24px;
  }
}
.company-team .block-container .preview-gallery-container .gallery-item__excerpt p {
  color: #768991;
}
.company-team .block-container .preview-gallery-container .gallery-item__excerpt a {
  color: #768991;
  text-decoration: underline;
}
.company-team .block-container .preview-gallery-container .gallery-item__excerpt a:hover {
  color: #2F72B8;
}
.company-team .block-container .preview-gallery-container .gallery-item__excerpt a:hover svg {
  fill: #2F72B8;
}
.company-team .block-container .preview-gallery-container .gallery-item__excerpt a svg {
  width: 9px;
  height: auto;
  margin-left: 6px;
  fill: #768991;
  vertical-align: middle;
  transition: all 300ms ease-out;
}
.company-team .block-container .preview-gallery-container .gallery-item__tags {
  color: #55AC47;
  text-align: right;
}
.company-team .block-container .preview-gallery-container .gallery-item__tags a {
  margin: 0 4px;
  color: #55AC47;
  text-decoration: underline;
}
.company-team .block-container .preview-gallery-container p.no-posts-available {
  color: #55AC47;
  text-align: center;
}

.single-post-team-intro {
  height: 577px;
  position: relative;
  transition: all 100ms ease-out;
}
@media (max-width: 784px) {
  .single-post-team-intro {
    height: 400px;
  }
}
.single-post-team-intro .caption-container {
  width: auto;
  position: relative;
  top: 20%;
  padding: 96px;
  color: #F9FCFA;
  text-align: center;
}
@media (max-width: 784px) {
  .single-post-team-intro .caption-container {
    padding: 48px;
  }
}
@media (max-width: 540px) {
  .single-post-team-intro .caption-container {
    top: 15%;
    padding: 36px;
  }
}
.single-post-team-intro .caption-container h1.caption-main {
  font-family: "roboto-bold";
}
@media (max-width: 784px) {
  .single-post-team-intro .caption-container h1.caption-main {
    font-size: 36px;
  }
}
@media (max-width: 540px) {
  .single-post-team-intro .caption-container h1.caption-main {
    font-size: 30px;
  }
}
.single-post-team-intro .caption-container p.caption-sub {
  margin: 0 auto;
  color: #F9FCFA;
  font-family: "roboto-medium";
  line-height: 1.5;
}
.single-post-team-intro .caption-container p.caption-sub:before {
  content: "__";
}
.single-post-team-intro .hero-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.single-post-team-intro .hero-background-container__mask {
  width: auto;
  height: 100%;
  mask: url("media/shapes/other-pages-intro-mask.svg");
  -webkit-mask: url("media/shapes/other-pages-intro-mask.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: bottom center;
  -webkit-mask-position: bottom center;
}
.single-post-team-intro .hero-background-container__mask img {
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #2F72B8;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(50%);
}

.single-post-team-content .block-container {
  padding-top: 0;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  top: -60px;
}

.careers-intro .block-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 0;
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 0;
}
@media (max-width: 900px) {
  .careers-intro .block-container {
    padding: 64px;
  }
}
@media (max-width: 540px) {
  .careers-intro .block-container {
    padding: 36px;
  }
}

.careers-content {
  background-color: #F9FCFA;
}
.careers-content .block-container {
  padding-top: 0;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.careers-content .block-container .block-content {
  padding: 96px 0;
}
.careers-content .block-container .block-content details {
  margin-bottom: 12px;
  border-bottom: 2px solid #768991;
  transition: all 300ms ease-in-out;
}
.careers-content .block-container .block-content details:hover {
  border-bottom: 2px solid #55AC47;
}
.careers-content .block-container .block-content details:hover summary {
  color: #55AC47;
}
.careers-content .block-container .block-content details:hover summary svg {
  fill: #55AC47;
}
.careers-content .block-container .block-content details summary::-webkit-details-marker {
  display: none;
}
.careers-content .block-container .block-content details summary {
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 6px;
  position: relative;
  color: #768991;
  font-family: "roboto-bold";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  transition: all 300ms ease-out;
}
@media (max-width: 784px) {
  .careers-content .block-container .block-content details summary {
    font-size: 12px;
  }
}
.careers-content .block-container .block-content details summary:marker {
  display: none;
}
.careers-content .block-container .block-content details summary svg {
  width: 8px;
  height: auto;
  margin-right: 4px;
  fill: #768991;
  transition: all 300ms ease-out;
}
@media (max-width: 784px) {
  .careers-content .block-container .block-content details summary svg {
    vertical-align: -2px;
  }
}
.careers-content .block-container .block-content details h3 {
  margin-bottom: 6px;
  color: #768991;
  font-family: "roboto-bold";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}
.careers-content .block-container .block-content details p, .careers-content .block-container .block-content details li {
  color: #768991;
  font-family: "roboto-regular";
  font-size: 12px;
  line-height: 20px;
}
.careers-content .block-container .block-content details p {
  margin-bottom: 16px;
}
.careers-content .block-container .block-content details li {
  list-style-type: disc;
  margin-left: 14px;
}
.careers-content .block-container .block-content details li:last-of-type {
  margin-bottom: 24px;
}
.careers-content .block-container .block-content details figure.wp-block-image {
  width: 100%;
  height: auto;
  margin-bottom: 36px;
  overflow: hidden;
}
.careers-content .block-container .block-content details figure.wp-block-image img {
  width: auto;
  height: 100%;
}
.careers-content .block-container .block-content details .wp-block-columns {
  margin: 0;
}
.careers-content .block-container .block-content details .button-group {
  margin: 24px auto;
}
.careers-content .block-container .block-content details[open] {
  border-bottom: 2px solid #55AC47;
}
.careers-content .block-container .block-content details[open] summary {
  color: #55AC47;
}
.careers-content .block-container .block-content details[open] summary svg {
  fill: #55AC47;
  transform: rotate(90deg);
}

.contact-intro .block-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 0;
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 0;
}
@media (max-width: 900px) {
  .contact-intro .block-container {
    padding: 64px;
  }
}
@media (max-width: 540px) {
  .contact-intro .block-container {
    padding: 36px;
  }
}

.contact-content .block-container {
  padding-top: 0;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.contact-content .block-container .block-content {
  padding: 96px 0;
}
@media (max-width: 784px) {
  .contact-content .block-container .block-content {
    padding: 36px 0;
  }
}
.contact-content .block-container .block-content form.wpcf7-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.contact-content .block-container .block-content form.wpcf7-form p {
  width: calc(50% - 24px);
  max-width: none;
  margin: 0 12px 36px;
}
@media (max-width: 784px) {
  .contact-content .block-container .block-content form.wpcf7-form p {
    width: 100%;
    margin: 0 auto 36px;
  }
}
.contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(5), .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(6), .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(7), .contact-content .block-container .block-content form.wpcf7-form p:last-of-type {
  width: 100%;
}
.contact-content .block-container .block-content form.wpcf7-form p:last-of-type {
  position: relative;
  text-align: center;
}
.contact-content .block-container .block-content form.wpcf7-form p:first-of-type:hover label,
.contact-content .block-container .block-content form.wpcf7-form p:first-of-type:hover input, .contact-content .block-container .block-content form.wpcf7-form p:first-of-type:focus label,
.contact-content .block-container .block-content form.wpcf7-form p:first-of-type:focus input, .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(2):hover label,
.contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(2):hover input, .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(2):focus label,
.contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(2):focus input, .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(3):hover label,
.contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(3):hover input, .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(3):focus label,
.contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(3):focus input, .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(4):hover label,
.contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(4):hover input, .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(4):focus label,
.contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(4):focus input, .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(7):hover label,
.contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(7):hover input, .contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(7):focus label,
.contact-content .block-container .block-content form.wpcf7-form p:nth-of-type(7):focus input {
  color: #2F72B8;
  border-color: #2F72B8;
}
.contact-content .block-container .block-content form.wpcf7-form p label {
  font-size: 12px;
}
.contact-content .block-container .block-content form.wpcf7-form p label span input[type=text],
.contact-content .block-container .block-content form.wpcf7-form p label span input[type=email],
.contact-content .block-container .block-content form.wpcf7-form p label span input[type=tel] {
  width: 100%;
  height: 24px;
  margin-top: 4px;
  padding: 3px 6px;
  color: #13334B;
  border: 1px solid #768991;
  border-radius: 4px;
}
.contact-content .block-container .block-content form.wpcf7-form p label span input[type=text]:focus,
.contact-content .block-container .block-content form.wpcf7-form p label span input[type=email]:focus,
.contact-content .block-container .block-content form.wpcf7-form p label span input[type=tel]:focus {
  border: 1px solid #2F72B8;
}
.contact-content .block-container .block-content form.wpcf7-form p label span textarea {
  resize: none;
  width: 100%;
  margin-top: 4px;
  padding: 3px 6px;
  color: #13334B;
  border: 1px solid #768991;
  border-radius: 4px;
  font-family: "roboto-regular";
  font-size: 12px;
}
.contact-content .block-container .block-content form.wpcf7-form p label span textarea:focus {
  border: 1px solid #2F72B8;
}
.contact-content .block-container .block-content form.wpcf7-form p span.wpcf7-form-control-wrap .wpcf7-checkbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.contact-content .block-container .block-content form.wpcf7-form p span.wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item {
  width: calc(33.33% - 12px);
  margin-top: 12px;
  margin-left: 0;
}
@media (max-width: 540px) {
  .contact-content .block-container .block-content form.wpcf7-form p span.wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item {
    width: 100%;
  }
}
.contact-content .block-container .block-content form.wpcf7-form p span.wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item label {
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.contact-content .block-container .block-content form.wpcf7-form p span.wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item label input[type=checkbox] {
  -webkit-appearance: checkbox !important;
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid #768991;
  border-radius: 4px;
}
.contact-content .block-container .block-content form.wpcf7-form p span.wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item label input[type=checkbox]:checked {
  color: #2F72B8;
  border: 1px solid #2F72B8;
}
.contact-content .block-container .block-content form.wpcf7-form p span.wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item label input[type=checkbox]:checked + .wpcf7-list-item-label {
  color: #2F72B8;
}
.contact-content .block-container .block-content form.wpcf7-form p span.wpcf7-form-control-wrap .wpcf7-checkbox .wpcf7-list-item label .wpcf7-list-item-label {
  line-height: 15px;
}
.contact-content .block-container .block-content form.wpcf7-form p input[type=submit] {
  margin: 0 auto;
  padding: 8px 70px;
  color: #F9FCFA;
  background-color: #13334B;
  border: 2px solid #2F72B8;
  border-radius: 24px;
  font-family: "roboto-medium";
}
.contact-content .block-container .block-content form.wpcf7-form p input[type=submit]:hover {
  cursor: pointer;
  color: #F9FCFA;
  background-color: #2F72B8;
  border: 2px solid #768991;
}
.contact-content .block-container .block-content form.wpcf7-form p span.ajax-loader {
  position: absolute;
  top: 8px;
  left: calc(50% - 36px);
}
.contact-content .block-container .block-content form.wpcf7-form .wpcf7-response-output {
  margin: 0 auto !important;
  color: #768991;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  font-family: "roboto-regular";
  font-size: 15px;
}

/*# sourceMappingURL=main.css.map */
