.single-post-team-content {

    .block-container {
    // styling must be done on general.scss
    // unless purpose is to specifically override (not recommended)
    // add another class on block-container level if needed to override
    padding-top: 0;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: -60px;

        // .block-content {

        //     h1, h2 {
        //         margin-bottom: 24px;
        //         color: $secondary;
        //         font-family: $robotoBold;
        //         font-size: 18px;
        //         letter-spacing: 0;
        //         line-height: 24px;
        //     }
        //     p, li {
        //         color: $quarternary;
        //         font-family: $robotoRegular;
        //         font-size: 12px;
        //         line-height: 20px;
        //     }
        //     p {
        //         margin-bottom: 16px;
        //     }
        //     li {
        //         list-style-type: disc;
        //         margin-left: 14px;
        //     }
        //     li:last-of-type {
        //         margin-bottom: 24px;
        //     }

        //     figure.wp-block-image {
        //         width: 100%;
        //         height: auto;
        //         margin-bottom: 36px;
        //         overflow: hidden;

        //         img {
        //             width: auto;
        //             height: 100%;
        //         }
        //     }

        //     .wp-block-columns {
        //         margin: 0;
        //     }

        //     p.tag-list {
        //         margin: 36px 0 72px;
        //         color: $secondary;
        //         text-align: right;

        //         a {
        //             margin: 0 4px;
        //             color: $secondary;
        //             text-decoration: underline;
        //         }
        //     }
        // }

    }
}